<h2 mat-dialog-title>Warning</h2>
<mat-dialog-content>
  <p>
    This action will immediately end all active sessions, including your current
    session. You will be required to sign in again to access your account.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button [mat-dialog-close]="false" mat-button type="button">Cancel</button>
  <button
    [mat-dialog-close]="true"
    class="danger-button"
    mat-flat-button
    type="button"
  >
    Revoke all sessions
  </button>
</mat-dialog-actions>
