@use "../node_modules/modern-normalize/modern-normalize.css";
@use "material";

body {
  min-height: 100vh;
}

.g-spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
