/node_modules/
/TODO.md

/client/node_modules/
/client/dist/
/client/.angular/cache/
/client/cypress/downloads/
/client/cypress/screenshots/
/client/playwright-report/
/client/test-results/

/server/node_modules/
/server/dist/
/server/.env

