/node_modules/
/TODO.md

/client/node_modules/
/client/dist/
/client/.angular/cache/

# Playwright
/client/test-results/
/client/playwright-report/
/client/playwright/.cache/

/server/node_modules/
/server/dist/
/server/.env

