<hgroup>
  <h1 class="mat-headline-large">{{ heading() }}</h1>
  <p class="mat-title-large">Experience the miracle of authentication</p>
</hgroup>
@switch (isAuthenticated()) {
  @case (true) {
    <a
      data-test="account-link"
      class="cta-link"
      mat-stroked-button
      routerLink="/account"
      >Access your account</a
    >
  }
  @case (false) {
    <a
      data-test="register-link"
      class="cta-link"
      mat-flat-button
      routerLink="/register"
      >Register now</a
    >
  }
}
