<div
  class="meter-container"
  [matTooltip]="tooltip()"
  matTooltipPositionAtOrigin
  role="meter"
  aria-labelledby="meter-label"
  aria-valuemin="0"
  aria-valuemax="4"
  [attr.aria-valuenow]="result().score"
  [attr.aria-valuetext]="ariaValueText()"
>
  <span class="mat-label-medium" id="meter-label">Strength</span>
  <div class="meter">
    <div class="meter-filled" [class.valid]="isPasswordValid()"></div>
    <div class="meter-empty" [style.left.%]="result().score * 25"></div>
  </div>
</div>
@if (suggestions().length) {
  <ul class="suggestion-list">
    @for (suggestion of suggestions(); track $index) {
      <li class="suggestion mat-body-medium">
        <mat-icon class="suggestion-icon" svgIcon="info" />
        <span>{{ suggestion }}</span>
      </li>
    }
  </ul>
}
