<div
  [attr.aria-valuenow]="score()"
  [attr.aria-valuetext]="ariaValueText()"
  [matTooltip]="tooltip()"
  aria-labelledby="meter-label"
  aria-valuemax="4"
  aria-valuemin="0"
  class="meter-container"
  matTooltipPositionAtOrigin
  role="meter"
>
  <span class="mat-label-medium" id="meter-label">Strength</span>
  <div class="meter">
    <div [class.valid]="isPasswordValid()" class="meter-filled"></div>
    <div [style.left.%]="score() * 25" class="meter-empty"></div>
  </div>
</div>
@if (warning()) {
  <div class="warning mat-body-medium">
    <!-- I'm using the error icon here purely for aesthetic reasons. -->
    <mat-icon class="icon" svgIcon="error" />
    <span>{{ warning() }}</span>
  </div>
}
@if (suggestions().length) {
  <ul class="suggestion-list">
    @for (suggestion of suggestions(); track $index) {
      <li class="suggestion mat-body-medium">
        <mat-icon class="icon" svgIcon="info" />
        <span>{{ suggestion }}</span>
      </li>
    }
  </ul>
}
