<div class="relative flex h-[6px] overflow-clip rounded-[2px]">
  <div
    class="h-full w-full"
    [class.bg-valid-password]="isPasswordValid()"
    [class.bg-invalid-password]="!isPasswordValid()"
  ></div>
  <div
    class="transition-left absolute right-0 h-full bg-[#E9E9E9] duration-300"
    [style.left.%]="result().score * 25"
  ></div>
</div>
@if (warning()) {
  <span class="text-xs text-red-500">{{ warning() }}</span>
}
@for (suggestion of suggestions(); track $index) {
  <div class="mt-1 flex items-center">
    <div class="h-4 w-4 rounded-full bg-[#E9E9E9]"></div>
    <span class="ml-2 text-xs">{{ suggestion }}</span>
  </div>
}
