<mat-card>
  <mat-card-content>
    <h1 class="mat-title-medium">Create your account</h1>
    <form data-test="register-form" (ngSubmit)="onSubmit()" [formGroup]="form">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          data-test="username"
          matInput
          type="text"
          autocomplete="username"
          formControlName="username"
          appUsernameValidator
          [attr.maxlength]="USERNAME_MAX_LENGTH"
          spellcheck="false"
        />
        @if (form.controls.username.errors) {
          <mat-error>{{
            form.controls.username.errors | usernameError
          }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          data-test="password"
          matInput
          [type]="isPasswordVisible() ? 'text' : 'password'"
          autocomplete="new-password"
          formControlName="password"
          [attr.maxlength]="PASSWORD_MAX_LENGTH"
        />
        <button
          data-test="password-visibility"
          type="button"
          [matTooltip]="visibilityTooltip()"
          [attr.aria-label]="visibilityTooltip()"
          matSuffix
          mat-icon-button
          (click)="togglePasswordVisibility($event)"
        >
          <mat-icon
            [svgIcon]="isPasswordVisible() ? 'visibility_off' : 'visibility'"
          />
        </button>
        @if (form.controls.password.errors) {
          <mat-error>{{
            form.controls.password.errors | passwordError
          }}</mat-error>
        }
      </mat-form-field>
      <app-password-strength-meter />

      <button mat-flat-button type="submit">
        @if (isLoading()) {
          <mat-icon svgIcon="progress_activity" />
        }
        Register
      </button>
    </form>

    <p class="mat-body-medium form-footer">
      Already have an account?
      <a mat-button routerLink="/sign-in">Sign in</a>
    </p>
  </mat-card-content>
</mat-card>
