<mat-card>
  <mat-card-content>
    <h1 class="mat-title-medium">Create your account</h1>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
      data-testid="register-form"
    >
      <mat-form-field data-testid="username-field">
        <mat-label>Username</mat-label>
        <input
          [attr.maxlength]="USERNAME_MAX_LENGTH"
          appUsernameValidator
          autocomplete="username"
          data-testid="username"
          formControlName="username"
          matInput
          spellcheck="false"
          type="text"
        />
        <mat-error>{{ usernameControl.errors | usernameError }} </mat-error>
      </mat-form-field>

      <app-password-field
        [passwordControl]="passwordControl"
        autocomplete="new-password"
      />
      <app-password-strength-meter />

      <button mat-flat-button type="submit">
        @if (isLoading()) {
          <mat-icon svgIcon="progress_activity" />
        }
        Register
      </button>
    </form>

    <p class="mat-body-medium form-footer">
      Already have an account?
      <a mat-button routerLink="/sign-in">Sign in</a>
    </p>
  </mat-card-content>
</mat-card>
