<h2>Create Your Account</h2>
<form (ngSubmit)="onSubmit(form)" #form="ngForm" appPasswordValidator>
  <label for="username">Username</label>
  <input
    id="username"
    name="username"
    type="text"
    autocomplete="username"
    [(ngModel)]="username"
    #usernameModel="ngModel"
    appUsernameValidator
    maxlength="100"
    required
    spellcheck="false"
  />
  @if (
    usernameModel.invalid &&
    (usernameModel.dirty || usernameModel.touched || form.submitted)
  ) {
    <span>
      @if (usernameModel.hasError("required")) {
        This field is required
      } @else if (usernameModel.hasError("maxlength")) {
        Maximum length exceeded
      } @else if (usernameModel.hasError("usernamePattern")) {
        Invalid Unicode characters
      }
    </span>
  }

  <label for="password">Password</label>
  <input
    id="password"
    name="password"
    type="password"
    autocomplete="new-password"
    [(ngModel)]="password"
    #passwordModel="ngModel"
    maxlength="64"
    required
  />
  @if (
    passwordModel.invalid &&
    (passwordModel.dirty || passwordModel.touched || form.submitted)
  ) {
    <span>
      @if (passwordModel.hasError("required")) {
        This field is required
      } @else if (passwordModel.hasError("maxlength")) {
        Maximum length exceeded
      }
    </span>
  }
  <app-password-strength-meter />

  <button type="submit">Register</button>
</form>

<p>
  Already have an account?
  <a routerLink="/sign-in">Sign in</a>
</p>
