<h1 class="mat-headline-large">Account</h1>
@if (account()) {
  <p>Registered on {{ createdAt() | date }}</p>
  <p>Username: {{ username() }}</p>
}
<div class="buttons">
  <a mat-stroked-button routerLink="/user/change-password">Change password</a>
  <a data-testid="sessions-link" mat-stroked-button routerLink="/user/sessions"
    >Session management</a
  >

  <button
    (click)="openAccountDeletionDialog()"
    class="danger-button"
    data-testid="delete-account-button"
    mat-stroked-button
    type="button"
  >
    Delete my account
  </button>
</div>
