<h2 mat-dialog-title>Confirm account deletion</h2>
<mat-dialog-content>
  <form
    (ngSubmit)="deleteAccount()"
    [formGroup]="form"
    id="account-deletion-form"
  >
    <p>
      This action is immediate and irreversible. All data associated with your
      account will be removed from our servers.
    </p>
    <p>If you wish to proceed, please enter your password below:</p>
    <!-- Hidden username field for a11y and autofill -->
    <input autocomplete="username" hidden name="username" type="text" />
    <app-password-field
      [passwordControl]="form.controls.password"
      autocomplete="current-password"
      class="password-field"
    />
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    cdkFocusInitial
    data-testid="cancel-button"
    mat-button
    mat-dialog-close
    type="button"
  >
    Cancel
  </button>
  <button
    class="danger-button"
    form="account-deletion-form"
    mat-flat-button
    type="submit"
  >
    @if (isLoading()) {
      <mat-icon svgIcon="progress_activity" />
    }
    Delete my account
  </button>
</mat-dialog-actions>
