<mat-card class="form-container">
  <mat-card-content>
    <h1 class="mat-title-medium">Change your account password</h1>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
      data-testid="update-password-form"
    >
      <!-- Hidden username field for a11y and autofill -->
      <input autocomplete="username" hidden name="username" type="text" />
      <app-password-field
        [passwordControl]="form.controls.oldPassword"
        autocomplete="current-password"
        label="Old password"
      />
      <app-password-field
        [passwordControl]="form.controls.newPassword"
        autocomplete="new-password"
        label="New password"
      />
      <app-password-field
        [passwordControl]="form.controls.confirmNewPassword"
        autocomplete="new-password"
        label="Confirm new password"
      />
      <app-password-strength-meter />
      <button mat-flat-button type="submit">
        @if (isLoading()) {
          <mat-icon svgIcon="progress_activity" />
        }
        Change password
      </button>
    </form>
  </mat-card-content>
</mat-card>
