<ng-container [formGroup]="ngForm().form">
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      [attr.maxlength]="PASSWORD_MAX_LENGTH"
      [autocomplete]="autocomplete()"
      [type]="isPasswordVisible() ? 'text' : 'password'"
      data-testid="password"
      formControlName="password"
      matInput
    />
    <button
      (click)="togglePasswordVisibility($event)"
      [attr.aria-label]="visibilityTooltip()"
      [matTooltip]="visibilityTooltip()"
      data-testid="visibility-toggle"
      mat-icon-button
      matSuffix
      type="button"
    >
      <mat-icon
        [svgIcon]="isPasswordVisible() ? 'visibility_off' : 'visibility'"
      />
    </button>
    <mat-error>{{ passwordControl().errors | passwordError }} </mat-error>
  </mat-form-field>
</ng-container>
