<mat-card>
  <mat-card-content>
    <h2 class="mat-title-medium">Sign in to your account</h2>
    <form data-test="login-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          data-test="username"
          matInput
          name="username"
          type="text"
          autocomplete="username"
          [(ngModel)]="username"
          #usernameModel="ngModel"
          maxlength="100"
          required
          spellcheck="false"
        />
        @if (usernameModel.errors) {
          <mat-error>{{ usernameModel.errors | usernameError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          data-test="password"
          matInput
          name="password"
          [type]="isPasswordVisible() ? 'text' : 'password'"
          autocomplete="current-password"
          [(ngModel)]="password"
          #passwordModel="ngModel"
          maxlength="64"
          required
        />
        <button
          type="button"
          [matTooltip]="visibilityTooltip()"
          [attr.aria-label]="visibilityTooltip()"
          matSuffix
          mat-icon-button
          (click)="togglePasswordVisibility($event)"
        >
          <mat-icon
            [svgIcon]="isPasswordVisible() ? 'visibility_off' : 'visibility'"
          />
        </button>
        @if (passwordModel.errors) {
          <mat-error>{{ passwordModel.errors | passwordError }}</mat-error>
        }
      </mat-form-field>
      <button type="submit" mat-flat-button>
        @if (isLoading()) {
          <mat-icon svgIcon="progress_activity" />
        }
        Sign in
      </button>
    </form>
    <p>
      Don't have an account?
      <a mat-button routerLink="/register">Register</a>
    </p>
  </mat-card-content>
</mat-card>
