<mat-card>
  <mat-card-content>
    <h2 class="mat-title-medium">Sign in to your account</h2>
    <form
      (ngSubmit)="onSubmit(form)"
      (input)="areCredentialsInvalid.set(false)"
      #form="ngForm"
    >
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          name="username"
          type="text"
          autocomplete="username"
          [(ngModel)]="username"
          #usernameModel="ngModel"
          maxlength="100"
          required
          spellcheck="false"
        />
        @if (usernameModel.hasError("required")) {
          <mat-error>This field is required</mat-error>
        } @else if (usernameModel.hasError("maxlength")) {
          <mat-error>Maximum length exceeded</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          name="password"
          type="password"
          autocomplete="current-password"
          [(ngModel)]="password"
          #passwordModel="ngModel"
          maxlength="64"
          required
        />
        @if (passwordModel.hasError("required")) {
          <mat-error>This field is required</mat-error>
        } @else if (passwordModel.hasError("maxlength")) {
          <mat-error>Maximum length exceeded</mat-error>
        }
      </mat-form-field>
      <button type="submit" mat-flat-button>Sign in</button>
      @if (areCredentialsInvalid()) {
        <mat-error class="mat-label-large">
          Bad credentials. Please try again.
        </mat-error>
      }
    </form>
    <p>
      Don't have an account?
      <a mat-button routerLink="/register">Register</a>
    </p>
  </mat-card-content>
</mat-card>
