<h2>Sign in to your account</h2>
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <label for="username">Username</label>
  <input
    id="username"
    name="username"
    type="text"
    autocomplete="username"
    [(ngModel)]="username"
    #usernameModel="ngModel"
    maxlength="100"
    required
    spellcheck="false"
  />
  @if (
    usernameModel.invalid &&
    (usernameModel.dirty || usernameModel.touched || form.submitted)
  ) {
    <span>
      @if (usernameModel.hasError("required")) {
        This field is required
      } @else if (usernameModel.hasError("maxlength")) {
        Maximum length exceeded
      }
    </span>
  }

  <label for="password">Password</label>
  <input
    id="password"
    name="password"
    type="password"
    autocomplete="current-password"
    [(ngModel)]="password"
    #passwordModel="ngModel"
    maxlength="64"
    required
  />
  @if (
    passwordModel.invalid &&
    (passwordModel.dirty || passwordModel.touched || form.submitted)
  ) {
    <span>
      @if (passwordModel.hasError("required")) {
        This field is required
      } @else if (passwordModel.hasError("maxlength")) {
        Maximum length exceeded
      }
    </span>
  }

  <button type="submit">Sign in</button>
  @if (areCredentialsInvalid()) {
    <div>Bad credentials. Try again.</div>
  }
</form>

<p>
  Don't have an account?
  <a routerLink="/register">Register</a>
</p>
